* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #0e0e0e;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #c1c1c1; }

body header nav {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5625rem;
  padding-bottom: 5px; }
  body header nav .logo img {
    width: 5vw; }
  body header nav .navbar ul li {
    list-style: none;
    display: inline;
    font-weight: 600;
    padding: 10px;
    align-items: center; }
  body header nav .menuBurguer {
    display: flex;
    align-items: center; }

footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #0a0a0a; }
  footer .footerFin {
    display: flex;
    flex-wrap: nowrap;
    padding-top: 50px;
    justify-content: space-between;
    gap: 10px;
    padding-left: 20px;
    padding-right: 30px;
    font-size: small;
    background-color: #0a0a0a; }
    footer .footerFin ul li {
      list-style: none;
      background-color: #0a0a0a; }
    footer .footerFin .leftFooter {
      display: flex;
      flex-direction: column;
      gap: 20px;
      background-color: #0a0a0a; }
      footer .footerFin .leftFooter ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
        background-color: #0a0a0a; }
      footer .footerFin .leftFooter .nosotros h3 {
        background-color: #0a0a0a; }
      footer .footerFin .leftFooter .shop h3 {
        background-color: #0a0a0a; }
    footer .footerFin .rightFooter {
      display: flex;
      flex-direction: column;
      gap: 20px;
      background-color: #0a0a0a; }
      footer .footerFin .rightFooter ul {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 5px;
        background-color: #0a0a0a; }
      footer .footerFin .rightFooter .ayuda h3 {
        background-color: #0a0a0a; }
      footer .footerFin .rightFooter .redes h3 {
        background-color: #0a0a0a; }
  footer .tarjetas {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-right: 30px;
    padding-left: 20px;
    padding-top: 5px;
    background-color: #0a0a0a; }
    footer .tarjetas .coppy {
      font-size: xx-small;
      background-color: #0a0a0a; }
    footer .tarjetas ul {
      background-color: #0a0a0a; }
      footer .tarjetas ul svg {
        background-color: #0a0a0a; }

body main .principalImage {
  width: 100%; }

body main .iphone15Pro {
  display: flex;
  width: 100%; }
  body main .iphone15Pro img {
    display: flex;
    width: 50vw;
    align-items: center; }
  body main .iphone15Pro .descriptionIphone {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    padding: 20px;
    gap: 20px; }
    body main .iphone15Pro .descriptionIphone h1 {
      font-size: 50px;
      color: white; }
    body main .iphone15Pro .descriptionIphone p {
      font-size: 30px;
      padding: 0px 100px 0px 0px; }

body main .mackBookAir {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center; }
  body main .mackBookAir img {
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center; }
  body main .mackBookAir .descriptionMacbookAir {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    padding-top: 30px; }
    body main .mackBookAir .descriptionMacbookAir h2 {
      font-size: 3.125rem;
      color: white; }
    body main .mackBookAir .descriptionMacbookAir p {
      font-size: 30px;
      padding: 20px 100px 20px 100px; }

body main .airPods {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center; }
  body main .airPods img {
    width: 50vw;
    padding: 70px 0px 50px 0px; }
  body main .airPods .descriptionAirpods {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    padding-bottom: 30px; }
    body main .airPods .descriptionAirpods h2 {
      font-size: 50px; }
    body main .airPods .descriptionAirpods p {
      font-size: 30px;
      padding: 20px 100px 20px 100px; }

main .iphoneQuincePro {
  display: flex;
  gap: 100px;
  padding: 20px 200px 50px 200px; }
  main .iphoneQuincePro img {
    width: 40vw; }
  main .iphoneQuincePro .descriptionQuincePro {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center; }
    main .iphoneQuincePro .descriptionQuincePro h1 {
      font-size: 40px;
      color: white; }
    main .iphoneQuincePro .descriptionQuincePro h2 {
      font-size: 25px; }
    main .iphoneQuincePro .descriptionQuincePro h3 {
      font-size: 30px; }
    main .iphoneQuincePro .descriptionQuincePro p {
      font-size: 20px; }

main .compraQuince {
  display: flex;
  padding: 20px 100px 20px 100px;
  margin: 20px 100px 20px 100px;
  border-bottom: 1px solid white;
  justify-content: space-between; }
  main .compraQuince .quinceProTitle h3 {
    font-weight: 450;
    font-size: large; }
  main .compraQuince .comprarIphoneQuincePro {
    display: flex;
    gap: 70px; }
    main .compraQuince .comprarIphoneQuincePro p {
      font-weight: 450;
      font-size: large; }
    main .compraQuince .comprarIphoneQuincePro button {
      font-weight: 450;
      font-size: large; }

main .iphoneQuince p {
  font-size: 25px;
  padding: 0 200px 50px 200px; }

main .iphoneQuince .descriptionQuince {
  display: flex;
  gap: 100px;
  margin: 20px 200px 20px 200px; }
  main .iphoneQuince .descriptionQuince .descriptionQuinceSystem {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center; }
  main .iphoneQuince .descriptionQuince h2 {
    font-size: 40px;
    color: white; }
  main .iphoneQuince .descriptionQuince h3 {
    font-size: 30px; }
  main .iphoneQuince .descriptionQuince img {
    width: 35vw; }
