footer{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgb(10, 10, 10);
    .footerFin{
        display: flex;
        flex-wrap: nowrap;
        padding-top: 50px;
        justify-content: space-between;
        gap: 10px;
        padding-left: 20px;
        padding-right: 30px;
        font-size: small;
        background-color: rgb(10, 10, 10);
        ul{
            li{
                list-style: none;
                background-color: rgb(10, 10, 10);
            }
        }
        .leftFooter{
            display: flex;
            flex-direction: column;
            gap: 20px;
            background-color: rgb(10, 10, 10);
            ul{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 5px;
                background-color: rgb(10, 10, 10);
            }
            .nosotros{
                h3{
                    background-color: rgb(10, 10, 10);
                }
            }
            .shop{
                h3{
                    background-color: rgb(10, 10, 10);
                }
            }
        }
        .rightFooter{
            display: flex;
            flex-direction: column;
            gap: 20px;
            background-color: rgb(10, 10, 10);
            ul{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                gap: 5px;
                background-color: rgb(10, 10, 10);
            }
            .ayuda{
                h3{
                    background-color: rgb(10, 10, 10);
                }
            }
            .redes{
                h3{
                    background-color: rgb(10, 10, 10);
                }
            }
        }
    }
    .tarjetas{
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding-right: 30px;
        padding-left: 20px;
        padding-top: 5px;
        background-color: rgb(10, 10, 10);
        .coppy{
            font-size: xx-small;
            background-color: rgb(10, 10, 10);
        }
        ul{
            background-color: rgb(10, 10, 10);
        svg{
            background-color: rgb(10, 10, 10);
        }
        }
    }
}